<!-- wrapper -->
    <div id="wrapper">
        <div id="hamburger-icon" class="visible-xs text-center">MENU <br> BAR</div>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand menu-toggle">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="google.com">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        </div>
        <!-- /#sidebar-wrapper -->