<!-- wrapper -->
<div id="wrapper">
    <div id="hamburger-icon" class="visible-xs text-center">MENU <br> BAR</div>
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="background-color: #F1F1F1;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% include Aboutme.html %}
                    {% include Sitesearch.html %}
                    {% include Recent_Posts.html %}
                    {% include Categories.html %}
                    {% include Tags.html %}
                    {% include Blogroll.html %}
                    {% include Archives.html %}
                    {% include Copyright_Notice.html %}
                    {% ##include footer.html %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->